:root {
    /* color definitions based on the outrun color palettes */
    --palette1-orange: #ff6c11;
    --palette1-red: #ff3864;
    --palette1-cyan: #2de2e6;
    --palette1-dark-purple: #261447;
    --palette1-dark-blue: #0d0221;

    --palette2-blue: #023788;
    --palette2-purple: #650d89;
    --palette2-light-purple: #920075;
    --palette2-pink: #f6019d;
    --palette2-light-pink: #d40078;

    --palette3-dark-blue: #241734;
    --palette3-blue: #2e2157;
    --palette3-salmon: #fd3777;
    --palette3-pink: #f706cf;
    --palette3-red: #fd1d53;

    --palette4-yellow: #f9c80e;
    --palette4-yellow-dark: #daaf0c;
    --palette4-red: #ff4365;
    --palette4-dark-purple: #540d6e;
    --palette4-light-purple: #791e94;
    --palette4-purple: #541388;
}

@font-face {
    font-family: alienEncounters;
    src: url(../fonts/alien_encounters/sf_alien_encounters_regular.ttf);
}

@font-face {
    font-family: firaSans;
    src: url(../fonts/fira_sans/fira_sans_regular.otf);
}

@font-face {
    font-family: firaSansSemiBold;
    src: url(../fonts/fira_sans/fira_sans_semi_bold.otf);
}

body {
    background-color: var(--palette1-dark-blue);
    font-family: firaSans;
    color: var(--palette4-yellow);
}

h1, h2, h3, h4, h5 {
    font-family: firaSansSemiBold;
}

#logo-holder {
    align-items: center;
    z-index: 1000;
}

#logo-holder img {
    height: auto;
}

.video-holder {
    padding-top: 56.25%;
    position: relative;
    height: 0;
    width: 100%;
}

.video-holder iframe {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
}

#content-wrapper {
    margin-top: -80px;
}

#content-holder {
    background-color: var(--palette1-dark-purple);
    border-radius: 25px;
    padding: 40px 12px 40px 12px;
    padding-top: 80px;
}

@media only screen and (min-width: 800px){
    #content-holder {
        background-color: var(--palette1-dark-purple);
        padding: 40px;
        border-radius: 25px;
        padding-top: 100px;
    }

    #content-holder p {
        padding: 0;
    }

    #content-wrapper {
        margin-top: -100px;
    }
}

#content-holder p {
    padding: 0 16px 0 16px;
}

#content-holder #headline {
    padding: 0 16px 0 16px;
}

#social-holder {
    display: block;
    text-align: center;
    margin-top: 40px;
}

.social-link {
    color: var(--palette4-yellow);
    margin: 30px 20px;
}

.social-link:hover {
    color: var(--palette4-yellow-dark);
}

#grid {
    width: 100%;
    heigth: 100%;
    margin: 0;
}

#headline {
    display: flex;
    align-items:center;
}

#headline h1 {
    font-size: 2.5em;
    margin-left: 24px;
}

#headline img {
    height: 100px;
    width: 100px;
}
